.line
{
    height: 3px;
    width: 50px;
    background-color: blue;
    margin: auto;
    
}
body
{
text-align: center;
}
h1
{
   font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;  
}
h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}
img:hover {
transform:scale(0.9);
}
